<!DOCTYPE html>
<html>
<head>
    <title>Editar Usuário</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Editar Usuário</h1>
    <form method="POST">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" value="{{ usuario.nome }}" required><br><br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" value="{{ usuario.email }}" required><br><br>
        <button type="submit">Salvar Alterações</button>
    </form>
</body>
</html> 