<!DOCTYPE html>
<html>
<head>
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Lista de Usuários</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    <a href="/editar/{{ usuario.id }}">Editar</a>
                    <a href="/deletar/{{ usuario.id }}">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Cadastrar Novo Usuário</a>
</body>
</html>